@media only screen and (min-width: 768px) {
  .topnav a.icon {
    display: none;
  }
}

@media (min-width: 768pxx) {
  .element {
    display: none;
  }
}

.element {
  bottom: 20px
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;

}

.mobile-container {
  max-width: 100%;
  margin: 0px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  position: absolute;
  font-size: 17px;
  right: 0;
  top: 12px;
}

.body {
  padding: 0px
}

.active {
  font-size: 40px;
  border: 1px solid black;
  background-color: #A9A9A9;
  color: white;

}

.active:hover,
.icon:hover {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px grey;

}

#myLinks a:hover {
  text-decoration: none;
  text-shadow: .5px .5px grey;

}


* {
  box-sizing: border-box
}



.navbar-brand {
  text-align: center;
  height: 80px;
  font-size: 310px;

}

div.title {
  position: relative;
  text-align: center;
  height: 90px;
  top: 20px;
}

div.column {
  position: relative;
  border: 0px;
  padding: 20px;
  height: 400px;
  top: 0px;

}


#myLinks a {
  background: white;
  color: black;
  text-align: center;
  text-shadow: 0px 0px grey;
  border: .5px solid black;
  margin: .5px
}

#color {
  background: #DCDCDC;
  height: 380px;

}

h2 {
  text-align: center;

}

.color1 {

  font-size: 110%;
  top: 0px;
  margin: 0px;
  padding: 20px;

}
